<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login Failed</title>
</head>
<style>
    body {
        background-color: rgb(26, 26, 26);
        color: rgb(218, 218, 218);
    }

    /* #list {
            overflow: auto;
            white-space: nowrap;
        } */
    /* #list div {
            display: inline-block;
        } */
</style>
<%- include(process.cwd() + '/assets/dropdown.ejs') %>
<body>
    <h1>Login failed because you sended too many requests, You'll be blocked for 10 minutes</h1>
</body>

</html>