<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime ber genre ecchi tidak diizinkan!</title>
</head>
<style>
    body {
        background-color: rgb(26, 26, 26);
        color: rgb(218, 218, 218);
    }
</style>
<%- include(process.cwd() + '/assets/dropdown.ejs' ) %>
<body>
    <h1 class="w3-center" style="top: 50vh;">Anime ber genre ecchi tidak diizinkan!</h1>
</body>
</html>